<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="module.video.jnc.myffmpeg">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">

        <!-- module.video.jnc.myffmpeg.activity.TestActivity -->
        <activity
            android:name="module.video.jnc.myffmpeg.activity.TestActivity"
            android:configChanges="keyboardHidden|orientation|screenSize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!-- <activity android:name=".activity.MainActivity" /> -->

        <activity android:name=".activity.NetStreamActivity" />
        <activity
            android:name=".activity.CameraStreamActivity"
            android:label="@string/title_activity_camera_stream" />
        <activity android:name=".activity.FlvParseActivity" />
        <activity android:name=".activity.HardCodeActivity" />
        <activity android:name=".activity.HardMuxerCameraActivity" />
        <activity android:name=".activity.ChoiseVideoActivity">
            <intent-filter>
                <action android:name="module.video.jnc.myffmpeg.choisevideo" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.VideoClipActivity">
            <intent-filter>
                <action android:name="xhc.video.clip" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.BaseActivity" />
        <activity android:name=".activity.VideoJointActivity">
            <intent-filter>
                <action android:name="xhc.video.joint" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.Mp4PlayerActivity"
            android:screenOrientation="landscape" />
        <activity android:name=".activity.ChoisePicActivity" />
        <activity android:name=".activity.VideoCropActivity">
            <intent-filter>
                <action android:name="xhc.video.crop" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.SingleFilterActivity" />
        <activity android:name=".activity.VideoWaterMarkActivity">
            <intent-filter>
                <action android:name="xhc.video.water_mark" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.VideoSpecialActivity">
            <intent-filter>
                <action android:name="xhc.video.spcial_filter" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.VideoScaleActivity">
            <intent-filter>
                <action android:name="xhc.video.scale" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.Mp42GifActivity">
            <intent-filter>
                <action android:name="xhc.video.gif" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.VideoReverseActivity">
            <intent-filter>
                <action android:name="xhc.video.reverse" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.VideoDubActivity">
            <intent-filter>
                <action android:name="xhc.video.dub" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.PlayListActivity" />
        <activity android:name=".activity.ChoiseMusicActivity" />
        <activity android:name=".activity.VideoMusicActivity">
            <intent-filter>
                <action android:name="xhc.video.video_music" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.VideoSpeedActivity">
            <intent-filter>
                <action android:name="xhc.video.speed" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.MyDealFileActivity" />
        <activity android:name=".activity.AboutActivity"></activity>
        <!-- provider -->
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="module.video.jnc.myffmpeg.fileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/temp_provider" />
        </provider>


    </application>

</manifest>